* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
	font-weight: 400;
	font-size: 14px;
	font-family: "lato", sans-serif;
	line-height: 1.5;
}

a {
  text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul {
  list-style-type: none;
}

nav {
  background-color: #d4564a;
  height: 10vh;
  width: 100%;
}

.first-search {
  background-color: #d4564a;
}

.jumbotron {
  height: 90vh;
  background: url(../images/Hospital-Directory-image.jpg) no-repeat;
  background-size: cover;
  padding: 25vh 0;
  background-position: 50% 50%;
}

.jumbotron-color,
.btn-explore {
  background-color: rgb(224, 221, 221);
}

.search {
  background-color: rgba(236, 228, 228, 0.8);
}

.search-label,
.form-group label {
  font-size: small;
  font-weight: bold;
}

.card-img-top,
.card-body {
  min-height: 35vh;
  max-height: 35vh;
}

.card-body {
  min-height: 40vh;
  max-height: 40vh;
}

.danger-color {
  color: #d4564a;
}

.black-color {
  background-color: #131313;
}

.line {
  flex: 1;
}

.size-1 {
  font-size: 1em;
}

.size-2 {
  font-size: 1.5em;
}

.small-font {
  font-size: small;
}

.nav-logo {
  width: 4rem;
  height: 3rem;
}

.guide {
  font-size: 1em;
}

.hospital {
  background-color: #e17e65;
}

.clinic {
  background-color: #98a4a5;
}

.doctor {
  background-color: #509bd7;
}

.hospital img,
.clinic img,
.doctor img {
  width: 15rem;
  height: 13rem;
}

.footer-logo {
  width: 3rem;
  height: 3rem;
}